body { font-family: Arial; background:#f1f4ff; margin:0; padding:20px;}
header { background:#3b57ff; padding:20px; color:white; text-align:center; border-radius:12px;}
.card { background:white; padding:20px; margin-top:20px; border-radius:12px; box-shadow:0 4px 10px rgba(0,0,0,0.1);}
